.array-container {
    
}

.arraybar {
    display: inline-block;
    margin: 0px 1px;
}

.arraybar-container{
    background-color:  yellow;
    padding-left: 90px;

}

.slider-container{
    background-color: aqua;
}

.infoBar-container{
    background-color: blueviolet;
}



